$switch-width: 60px;
$switch-height: 34px;
$slider-width: 26px;
$slider-height: 26px;
$slider-duration:.4s;


$switch-width-md: 47px;
$switch-height-md: 26px;
$slider-width-md: 18px;
$slider-height-md: 18px;
$slider-duration-md:.3s;


$switch-default-color: #ccc;
$switch-success-color: #28a745;
$slider-background: #fff;


.switch {
  
  /* Hide default HTML checkbox */
  input {display:none;}
  
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  
  
  &.switch-md{
    width: $switch-width-md;
    height: $switch-height-md;
    .slider{
      -webkit-transition: $slider-duration-md;
      transition: $slider-duration-md;
      &:before{
        width: $slider-width-md;
        height: $slider-height-md;
        -webkit-transition: $slider-duration-md;
        transition: $slider-duration-md;
      }
    }
    input:checked + .slider:before {
      -webkit-transform: translateX($slider-width-md);
      -ms-transform: translateX($slider-width-md);
      transform: translateX($slider-width-md);
    }
  }
  
  
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $switch-default-color;
    -webkit-transition: $slider-duration;
    transition: $slider-duration;
    
    &:before {
      position: absolute;
      content: "";
      height: $slider-width;
      width: $slider-width;
      left: 4px;
      bottom: 4px;
      background-color: $slider-background;
      -webkit-transition: $slider-duration;
      transition: $slider-duration;
    }
    
    
    /* Rounded sliders */
    &.round {
      border-radius: $switch-height;
      &:before {
        border-radius: 50%;
      }
    }
  
  }
  
  
  input{
    &:checked + .slider {
      background-color: $switch-success-color;
      &:before {
        -webkit-transform: translateX($slider-width);
        -ms-transform: translateX($slider-width);
        transform: translateX($slider-width);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px $switch-success-color;
    }
  }
  
  
}
